#git-but:hover {
  background-color: black;
}

#intro-section {
  padding-left: 15%;
  padding-right: 15%;
}

#interests-section {
  padding-left: 15%;
  padding-right: 15%;
}

#int-pic {
  max-width: 50%;
  max-height: 50%;
}

#profile-pic{
    border-radius: 50%;
}
